body {
	background: #cccccc;
}

#align {
	display: flex;
  align-items: center;
  justify-content: center;	
  height: 100vh;
}

#stage {
	width: 900px;
	height: 556px;
	margin: auto;
	background: white;
	position: relative;
}

#triangle {
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 150px solid yellow;
	position: absolute;
	top: 203px;
	left: 60px;
}

#square {
	width: 150px;
	height: 150px;
	background: red;
	top: 203px;
	left: 270px;
	position: absolute;

	/* uncomment to add keyframe animation */
	/* animation: spin 2s infinite; */

}

#circle {
	width: 250px;
	height: 250px;
	background: #FFF0F0;
	border-radius: 150px;
	top: 163px;
	left: 480px;
	position: absolute;
}

#lefthand {
	width: 100px;
	height: 150px;
	background: #FFF0F0;
	border-radius: 150px;
	top: 243px;
	left: 420px;
	position: absolute;
}

#righthand {
	width: 100px;
	height: 150px;
	background: #FFF0F0;
	border-radius: 150px;
	top: 243px;
	left: 680px;
	position: absolute;
}

#leftfoot {
	width: 150px;
	height: 100px;
	background: indianred;
	border-radius: 150px;
	top: 363px;
	left: 480px;
	position: absolute;
}

#rightfoot {
	width: 150px;
	height: 100px;
	background: indianred;
	border-radius: 150px;
	top: 363px;
	left: 600px;
	position: absolute;
}

#lefteye {
	width: 25px;
	height: 50px;
	background: hotpink;
	border-radius: 150px;
	top: 203px;
	left: 560px;
	position: absolute;
}

#righteye {
	width: 25px;
	height: 50px;
	background: hotpink;
	border-radius: 150px;
	top: 203px;
	left: 630px;
	position: absolute;
}

#lefteyepurp {
	width: 25px;
	height: 60px;
	background: mediumpurple;
	border-radius: 150px;
	top: 203px;
	left: 560px;
	position: absolute;
}

#righteyepurp {
	width: 25px;
	height: 60px;
	background: mediumpurple;
	border-radius: 150px;
	top: 203px;
	left: 630px;
	position: absolute;
}

#lefteyelight {
	width: 15px;
	height: 30px;
	background: whitesmoke;
	border-radius: 150px;
	top: 203px;
	left: 567px;
	position: absolute;
}

#righteyelight {
	width: 15px;
	height: 30px;
	background: whitesmoke;
	border-radius: 150px;
	top: 203px;
	left: 637px;
	position: absolute;
}

#leftcheek {
	width: 25px;
	height: 50px;
	background: hotpink;
	border-radius: 150px;
	top: 203px;
	left: 560px;
	position: absolute;
}

#rightcheek {
	width: 25px;
	height: 50px;
	background: hotpink;
	border-radius: 150px;
	top: 203px;
	left: 630px;
	position: absolute;
}

#clip {
	width: 150px;
	height: 150px;
	background: green;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	top: 203px;
	left: 690px;
	position: absolute;

	/* uncomment for css transitions */
	/* transition: all 400ms ease; */
}

/* animations */

/*
#clip:hover {
	transform: rotate(1200deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

*/