body {
	background: #F0F0F0;
}

#align {
	display: flex;
  align-items: center;
  justify-content: center;	
  height: 100vh;
}

#stage {
	width: 900px;
	height: 556px;
	margin: auto;
	background: #697885;
	position: relative;
}


#triangle {
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 150px solid yellow;
	position: absolute;
	top: 203px;
	left: 60px;
}

/*
#square {
	width: 150px;
	height: 150px;
	background: red;
	top: 203px;
	left: 270px;
	position: absolute;

}

	/* uncomment to add keyframe animation */
	/* animation: spin 2s infinite; */


/*
#circle {
	width: 250px;
	height: 250px;
	background: #FFF0F0;
	border-radius: 150px;
	top: 163px;
	left: 480px;
	position: absolute;
}

#lefthand {
	width: 100px;
	height: 150px;
	background: #FFF0F0;
	border-radius: 150px;
	top: 243px;
	left: 420px;
	position: absolute;
}

#righthand {
	width: 100px;
	height: 150px;
	background: #FFF0F0;
	border-radius: 150px;
	top: 243px;
	left: 680px;
	position: absolute;
}

#leftfoot {
	width: 150px;
	height: 100px;
	background: #D11330;
	border-radius: 150px;
	top: 363px;
	left: 480px;
	position: absolute;
}

#rightfoot {
	width: 150px;
	height: 100px;
	background: indianred;
	border-radius: 150px;
	top: 363px;
	left: 600px;
	position: absolute;
}

#lefteye {
	width: 25px;
	height: 50px;
	background: hotpink;
	border-radius: 150px;
	top: 203px;
	left: 560px;
	position: absolute;
}

#righteye {
	width: 25px;
	height: 50px;
	background: hotpink;
	border-radius: 150px;
	top: 203px;
	left: 630px;
	position: absolute;
}

#lefteyepurp {
	width: 25px;
	height: 60px;
	background: mediumpurple;
	border-radius: 150px;
	top: 203px;
	left: 560px;
	position: absolute;
}

#righteyepurp {
	width: 25px;
	height: 60px;
	background: mediumpurple;
	border-radius: 150px;
	top: 203px;
	left: 630px;
	position: absolute;
}

#lefteyelight {
	width: 15px;
	height: 30px;
	background: whitesmoke;
	border-radius: 150px;
	top: 203px;
	left: 567px;
	position: absolute;
}

#righteyelight {
	width: 15px;
	height: 30px;
	background: whitesmoke;
	border-radius: 150px;
	top: 203px;
	left: 637px;
	position: absolute;
}

#leftcheek {
	width: 25px;
	height: 50px;
	background: hotpink;
	border-radius: 150px;
	top: 203px;
	left: 560px;
	position: absolute;
}

#rightcheek {
	width: 25px;
	height: 50px;
	background: hotpink;
	border-radius: 150px;
	top: 203px;
	left: 630px;
	position: absolute;
}

#clip {
	width: 150px;
	height: 150px;
	background: green;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	top: 203px;
	left: 690px;
	position: absolute;
}

*/

/*여기부터 추출한 css*/
#desk
{
	background : #BCA88C;
	background : rgba(188, 168, 140, 1);
	position : absolute ;
	left : 0px;
	top : 402px;
	width : 900px;
	height : 163px;
}

#st3
{
	background : #BCA88C;
	background : rgba(188, 168, 140, 1);
	position : absolute ;
	left : 493px;
	top : 465px;
	width : 466px;
	height : 152px;
}

#st5
{
	background : #5E6A70;
	background : rgba(94, 106, 112, 1);
	position : absolute ;
	left : -3px;
	top : 613px;
	width : 962px;
	height : 325px;
}
#pinkeyeleft {
	background : #E863B5;
	background : rgba(232, 99, 181, 1);
	position : absolute ;
	left : 541px;
	top : 244px;
	width : 18px;
	height : 41px;
	border-radius : 8px;
}

#st7
{
	background : #C4D6D1;
	background : rgba(196, 214, 209, 1);
	position : absolute ;
	left : 468px;
	top : 336px;
	width : 243px;
	height : 46px;
	border-radius : 23px;
}

#shiningeyeleft {
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 543px;
	top : 244px;
	width : 12px;
	height : 20px;
	border-radius : 6px;
}

#purpleeye2 {
	background : #9893D4;
	background : rgba(152, 147, 212, 1);
	position : absolute ;
	left : 541px;
	top : 244px;
	width : 18px;
	height : 49px;
	border-radius : 9px;
}

#pinkeyeright {
	background : #E863B5;
	background : rgba(232, 99, 181, 1);
	position : absolute ;
	left : 600px;
	top : 244px;
	width : 18px;
	height : 41px;
	border-radius : 8px;
}

#lefthand {
	background : #B4CEC7;
	background : rgba(180, 206, 199, 1);
	position : absolute ;
	left : 420px;
	top : 241px;
	width : 163px;
	height : 154px;
	border-radius : 100px 0px 44px 44px;
}

#righthand {
	background : #B4CEC7;
	background : rgba(180, 206, 199, 1);
	position : absolute ;
	left : 600px;
	top : 233px;
	width : 163px;
	height : 154px;
	border-radius : 0px 100px 44px 44px;
}

#body {
	background : #C4D6D1;
	background : rgba(196, 214, 209, 1);
	position : absolute ;
	border-radius: 150px;
	left : 461px;
	top : 188px;
	width : 258px;
	height : 258px;
}

#leftfoot {
	background : #E30026;
	background : rgba(227, 0, 38, 1);
	position : absolute ;
	left : 451px;
	top : 373px;
	width : 141px;
	height : 107px;
	border-radius : 70px 50px 70px 70px;
	box-shadow: 2px 5px 10px 2px rgb(0, 0, 0, 0.6);
}

#rightfoot {
	background : #E30026;
	background : rgba(227, 0, 38, 1);
	position : absolute ;
	left : 587px;
	top : 373px;
	width : 141px;
	height : 107px;
	border-radius : 50px 70px 70px 70px;
	box-shadow: 2px 5px 10px 2px rgb(0, 0, 0, 0.6);
}


#shiningeyeright {
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 603px;
	top : 244px;
	width : 12px;
	height : 20px;
	border-radius : 6px;
}

#mouth {
	background : #E863B5;
	background : rgba(232, 99, 181, 1);
	position : absolute ;
	left : 562px;
	top : 301px;
	width : 36px;
	height : 9px;
	border-radius : 6px
}

#purpleeye {
	background : #9893D4;
	background : rgba(152, 147, 212, 1);
	position : absolute ;
	left : 600px;
	top : 244px;
	width : 18px;
	height : 49px;
	border-radius : 9px;
}

#hip {
	background : #C4D6D1;
	background : rgba(196, 214, 209, 1);
	position : absolute ;
	left : 474px;
	top : 355px;
	width : 231px;
	height : 33px;
	border-radius : 29px;
}

#triangle {
   width: 0px;
   height: 0px;
   left : 478px;
	 top : 385px;
   border-left: 110px solid transparent;
	 border-right: 110px solid transparent;
	 border-bottom: 50px solid #C4D6D1;
   transform: rotate(180deg);
}

#leftcheek {
	background : #E863B5;
	background : rgba(232, 99, 181, 1);
	position : absolute ;
	left : 496px;
	top : 277px;
	width : 33px;
	height : 16px;
	border-radius : 9px;
}

#rightcheeck
{
	background : #E863B5;
	background : rgba(232, 99, 181, 1);
	position : absolute ;
	left : 629px;
	top : 277px;
	width : 33px;
	height : 16px;
	border-radius : 9px;
}

.jam2
{
  background : #C13E66;
  background : rgba(193, 62, 102, 1);
  position : absolute ;
  left : 264px;
  top : 315px;
  width : 196px;
  height : 27px;
}
.cherry1
{
  background : #1B1C32;
  background : rgba(27, 28, 50, 1);
  position : absolute ;
  left : 264px;
  top : 227px;
  width : 34px;
  height : 34px;
  border-radius : 20px;
}
.cream
{
  background : #CEDCC5;
  background : rgba(206, 220, 197, 1);
  position : absolute ;
  left : 224px;
  top : 240px;
  width : 236px;
  height : 128px;
}
.jam1
{
  background : #985E7C;
  background : rgba(152, 94, 124, 1);
  position : absolute ;
  left : 264px;
  top : 276px;
  width : 196px;
  height : 27px;
}
.cherry2
{
  background : #431A31;
  background : rgba(67, 26, 49, 1);
  position : absolute ;
  left : 229px;
  top : 222px;
  width : 34px;
  height : 34px;
  border-radius : 20px;
}

.st0
{
  background : #6D7844;
  background : rgba(109, 120, 68, 1);
  position : absolute ;
  left : 404px;
  top : 279px;
  width : 39px;
  height : 39px;
    border-radius : 20px;
}
.st1
{
  background : #6D7844;
  background : rgba(109, 120, 68, 1);
  position : absolute ;
  left : 317px;
  top : 326px;
  width : 47px;
  height : 25px;
    border-radius : 20px;
}
.st2
{
  background : #C5C68C;
  background : rgba(197, 198, 140, 1);
  position : absolute ;
  left : 361px;
  top : 345px;
  width : 22px;
  height : 22px;
  border-radius : 20px;
}
.st3
{
  background : #C5C68C;
  background : rgba(197, 198, 140, 1);
  position : absolute ;
  left : 240px;
  top : 364px;
  width : 123px;
  height : 16px;
  border-radius : 20px;
  transform: rotate(-15deg);
}
.st4
{
  background : #9A4453;
  background : rgba(154, 68, 83, 1);
  position : absolute ;
  left : 356px;
  top : 279px;
  width : 59px;
  height : 59px;
    border-radius : 40px;
}

#st0
{
  background : #85939C;
  background : rgba(133, 147, 156, 1);
  position : absolute ;
  left : 721px;
  top : 345px;
  width : 54px;
  height : 123px;
}
#st1
{
  background : #D7D7D7;
  background : rgba(215, 215, 215, 1);
  position : absolute ;
  left : 146px;
  top : 402px;
  width : 562px;
  height : 49px;
}
#st2
{
  background : #3E121A;
  background : rgba(62, 18, 26, 1);
  position : absolute ;
  left : 703px;
  top : 401px;
  width : 5px;
  height : 50px;
}
#st3
{
  background : #DCE1DF;
  background : rgba(220, 225, 223, 1);
  position : absolute ;
  left : 146px;
  top : 384px;
  width : 562px;
  height : 16px;
}
#st4
{
  background : #DCE1DF;
  background : rgba(220, 225, 223, 1);
  position : absolute ;
  left : 709px;
  top : 384px;
  width : 12px;
  height : 84px;
}
#st5
{
  background : #85939C;
  background : rgba(133, 147, 156, 1);
  position : absolute ;
  left : 146px;
  top : 347px;
  width : 628px;
  height : 39px;
}
#st6
{
  background : #DCE1DF;
  background : rgba(220, 225, 223, 1);
  position : absolute ;
  left : 146px;
  top : 452px;
  width : 562px;
  height : 16px;
}

#blbl1
{
  background : #1F1917;
  background : rgba(31, 25, 23, 1);
  position : absolute ;
  left : 782px;
  top : 0px;
  width : 165px;
  height : 38px;
}
#blbl2
{
  background : #1F1917;
  background : rgba(31, 25, 23, 1);
  position : absolute ;
  left : 746px;
  top : 156px;
  width : 213px;
  height : 248px;
}
#blbl3
{
  background : #1F1917;
  background : rgba(31, 25, 23, 1);
  position : absolute ;
  left : 794px;
  top : 0px;
  width : 165px;
  height : 183px;
}
#blbl4
{
  background : #1F1917;
  background : rgba(31, 25, 23, 1);
  position : absolute ;
  left : 664px;
  top : 154px;
  width : 165px;
  height : 38px;
}

#light
{
  background : #E2E2C4;
  background : rgba(226, 226, 196, 1);
  position : absolute ;
  left : 711px;
  top : 0px;
  width : 103px;
  height : 103px;
  box-shadow: 0px 0px 15px rgb(226, 226, 196, 0.6);
}





	/* uncomment for css transitions */
	/* transition: all 400ms ease; */


/* animations */

/*
#clip:hover {
	transform: rotate(1200deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

*/