@font-face {
  font-family: "CirrusCumulus";
  src: url("CirrusCumulus.woff");
}

@font-face {
    font-family: 'AvaraBold';
    src: url('Bold/Avara-Bold.woff') format('woff'),
         url('Bold/Avara-Bold.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Bold Italic';
    src: url('BoldItalic/Avara-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */

h1, h2{
	font-family: AvaraBold;
}

pre:hover, h1:hover, h2:hover {
	font-size: 50px;

}

body {
	font-family: -apple-system, CirrusCumulus, AvaraBold, Avara_Bold Italic, BlinkMacSystemFont, helvetica, arial, sans-serif;
	transition: background 500ms ease;
	background: #F0F0F0;

	color: olivedrab;
    Font-family: Arial;

}

body.dark {
	font-family: -apple-system, CirrusCumulus, AvaraBold, Avara_Bold Italic, BlinkMacSystemFont, helvetica, arial, sans-serif;
	transition: background 500ms ease;
	background: #000000;

	color: #6584A8;
    Font-family: Arial;

}

p.dark{
	color:#6584A8;
}


.cursive {
    font-family: Avara_Bold Italic;
}

p, li {
	font-size:  20px;
	line-height: 30px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

p, ul, ol {
	color:black;
}

p.dark,ul.dark, ol.dark{
	color:#6584A8;
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 40px;
}

img {
	max-width: 100%;
	height:  auto;
}

/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/