@font-face {
	font-family: "exItalic";
	src: url("ExposureTrialVAR-Italic.ttf");
}
@font-face {
	font-family: "ex";
	src:	url("ExposureTrial[-100].otf");
}

*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	min-width:0.5wh;
}



header {
	width:100%;
	height:80px;
	position:relative;
	padding:20px 32px;
	z-index:1;
}

body {
	font-family: -apple-system, ex, exItalic, BlinkMacSystemFont, helvetica, arial, sans-serif;
	transition: background 500ms ease;
	background: #F0F0F0;
	color: #7A7A7A;
	max-height: 100vh;
	font-family: ex;
	background: #DDDDDD;
}

h1{
	font-size: 48px;
	font-family: ex;
}

p{
	font-size:24px;
}

.container{
	width:100%;
	height: calc(100vh - 80px);
	position: relative;
	display: grid;
	grid-template-columns: 0.5fr 2fr 5fr;
	border-top:1px solid black;
}

div#menu{
	heigt:100%;
	font-size:24px;
}

div#menu:hover{
background:#BFBFBF;
}

li {
	font-size:28px;
	margin: 0px auto 15px;
	list-style-type: none;
}

#bubble {
	height:48px;
	position:relative;
	margin: 32px 32px;
}


#menu.closed{
	position:relative
	border:1px solid black;
	width:6em;
	background: #DDDDDD;
}

#menu{
	position:relative;
	border-right:1px solid black;
	width:;
}

#calculator{
	border-left:1px solid black;
	background: #DDDDDD;
	text-align: center;
	font-family: exItalic;
}
form{
	font-size: 24px;
	margin: 24px auto;
}

#where{
font-size:40px;
	height: 80px;
	padding:12px auto;
	border-bottom: 1px solid black;
}

#watervapor{
	border-left:1px solid black;
	width:67em;
	background-color:#5FB2CC;		
}
#unitForHumidity{
	width:3em;
	display: flex;
	flex-direction: column;
}
#unitForHumidity div{
	height:70px;
	border-top:1px solid black;
	background-color:0,0,0,0;
}

button{
	padding:57px 60px;
	border-radius: 10px;
}
